.table {
 border: 2px solid white;
 height: 700px;
 width: 700px;
 min-width: 700px;
 border-collapse: collapse;
 margin-bottom: 400px;
 /*background-image: url("../images/backgrounds/lightwood.jpg");*/
 margin: 0 auto 0 auto;
}

.cell {
  height: 100px;
  width: 100px;
  min-width: 100px;
  border: 2px solid white;
  text-align: center;
  vertical-align: baseline;
}

.tr {
  border: 2px solid white;
}

.corner, .center {
    background-color: #9b9b9b;
    text-align: center;
    border: 2px solid white;
    vertical-align: baseline;
}

.piece {
  height: 100px;
  width: 100px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.h1 {
  color: green;
}

.cellNum {
  color: white;
  text-align: center;
  min-width: 30px;
  height: 30px;
}
